body
{
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.LogoNav 
{
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 50vw;
    height: 100vh; 
    border-right: 5px solid #ddd;
/*     box-shadow: 
    0 -0.5vmin 4vmin #f3b202; */
}
.LogoNav .Logo
{
    animation: FadeInFadeOut 3s linear infinite;
    animation-iteration-count: 3;
}
/* .triangulo
{
    transform: rotateZ(270deg);
    margin-left: 52.1vw;
    position: absolute;
}
 */
@keyframes FadeInFadeOut
{
    0% {opacity: 1;}
    50% {opacity: 0.1;}
    100% {opacity: 1;}
}
li
{
    color: white;
    text-decoration: none;
    list-style-type: none;

}
.formulario
{
    background-color: white;
    width: 50vw;
    height: 100vh;
}
